server:
  port: 8081

spring:
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

antifraud:
  transaction:
    limit: ${ANTIFRAUD_TRANSACTION_LIMIT:1000}

management:
  endpoints:
    web:
      exposure:
        include: health,info